<%= render 'sessions_nav' %>
<main>
	<div class="container login-wrapper">
		<%= form_for(:session, url: login_path, html: {class: "form-horizontal"}) do |f| %>
			<fieldset>
				<h2>Log in</h2>
					<div class="form-group">
				    <%= f.label :email, class: "col-sm-2" %>
					  <div class="col-sm-4">
					    <%= f.email_field :email, class: "form-control" %>
					  </div>
				  </div>
		  		<div class="form-group">
		    		<%= f.label :password, class: "col-sm-2"  %>
		    		<div class="col-sm-4">
		    			<%= f.password_field :password, class: "form-control" %>
		  			</div>
		  		</div>
		  		<div class="form-group">
		      	<div class="col-sm-4 col-sm-offset-2">
		    			<%= f.submit "Log in", class: "btn btn-default" %>
		    		</div>
		    	</div>
			</fieldset>
		<% end %>
	</div>
</main>
<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %></li>
        <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
        <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
        <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>