<%= render 'comments_nav' %>
<main>
  <div class="container comment-table">
    <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
      <th>Created</th>
      <th>Approved?</th>
    </tr>
    <tr>
      <td><%= @comment.name %></td>
      <td><%= @comment.email %></td>
      <td><%= @comment.body %></td>
      <td><%= @comment.created_at.strftime('%B %d, %Y') %></td>
      <td><%= @comment.approved %></td>
    </tr>
    </table>
    <%= form_for @comment, url: article_comment_path, method: :patch do |f| %>
      <div class="row">
        <div class="col-sm-2">
          <%= f.check_box :approved %>
          <%= f.submit "Approve", class: "btn btn-default btn-small" %>
        </div>
      </div>
  <% end %>
  </div>
</main>
<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %></li>
        <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
        <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
        <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>