<main>
  <section id="blog" class="light-bg">
      <div class="container inner-top-sm inner-bottom classic-blog">
        <div class="row">
          <div class="col-md-9 inner-right-sm">
            <% @articles.order("created_at desc").each do |article| %>
            <div class="posts sidemeta">
              <div class="post format-standard">
                <div class="date-wrapper">
                  <div class="date">
                    <span class="day"><%= article.created_at.strftime("%e") %></span>
                    <span class="month"><%= article.created_at.strftime("%b") %></span>
                  </div><!-- /.date -->
                </div><!-- /.date-wrapper -->
                <div class="post-content">
                  <h2 class="post-title">
                    <%= link_to markdown(article.title), article_path(article) %>
                  </h2>
                  <ul class="meta">
                    <li class="comments"><i class="icon-comment-1"></i> <%=article.comments.count%> Comments</li>
                  </ul><!-- /.meta -->
                  <p><%= markdown(article.text.truncate(200, separator: ' ')) %></p>
                  <%= link_to "Read more", article_path(article), class:"btn" %>
                </div><!-- /.post-content -->
              </div><!-- /.post -->
            </div><!-- /.posts -->
            <% end %>
          </div><!-- /.col -->
          <aside class="col-md-3">
            <div class="sidebox widget">
              <h4>Ryan’s Blog</h4>
              <p>I write about web development, technology, working with clients, and everyday life.</p>
              <p>Join the conversation by leaving a comment or asking a question and I’ll get back to you ASAP.</p>
              <%= link_to "Back to Homepage", {:controller => :pages, :action=> :home, :anchor => "top"}, class: "txt-btn" %>
            </div><!-- /.widget -->
            <div class="sidebox widget">
              <h4>Categories</h4>
              <% @categories.each do |category| %>
                <%= link_to category_path(:id => category.id) do %>
                <ul class="circled">
                  <li><%= category.name %></a></li>
                </ul><!-- /.circled -->
                <% end %>
              <% end %>
            </div><!-- /.widget -->
          </aside>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
</main>