<% title strip_tags(markdown(@article.title.to_s)) %>
<% meta_description strip_tags(markdown(@article.text.truncate(200, separator: ' '))) %>


<div class="article-wrapper">
	<% if logged_in? && current_user.admin? %>
		<%= link_to 'Edit Article', edit_article_path(:id => @article.id ), class: "btn btn-default" %>
	<% end %>
	
	<%= markdown(@article.title) %>
	<h5 class="date-title"><%= @article.created_at.strftime("%B %e, %Y") %></h5>
	<%= markdown(@article.text) %>
	<% @article.categories.each do |category| %>
		<span class="label label-info article-label">
		<%= category.name %>
		</span>
	<% end %>
</div>