<%= render 'users_nav' %>
<main>
  <div class="user-wrapper">
    <% provide(:title, "Edit user") %>
      <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <fieldset>
        <%= render 'shared/error_messages' %>
          <h3>Update Profile</h3>
          <div class="form-group">
            <%= f.label :name, class: "col-sm-2" %>
            <div class="col-sm-4">
              <%= f.text_field :name, class: "form-control"  %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-2" %>
            <div class="col-sm-4">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-sm-2" %>
            <div class="col-sm-4">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmation", class: "col-sm-2" %>
            <div class="col-sm-4">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= f.submit "Save Changes", class: "btn btn-default" %>
            </div>
        </div>
      <% end %>
      <div class="form-group">
        <% if current_user.try(:admin?) %>
          <div class="col-sm-10 col-sm-offset-2">
            <%= link_to "Delete Profile", @user, method: :delete,  data: { confirm: "You sure?" } %>
        <% end %>
          </div>
      </div>
    </fieldset>
  </div>
</main>
<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %></li>
        <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
        <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
        <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>







