<main>
	<section id="hero" class="tint-bg img-bg-softer" style="background-image: url(<%= asset_path 'pattern-background03.png' %>);">
		<div class="container inner" id="contact">
			<div class="row">
				<div class="col-md-8">
					<header>
						<h1>Get in touch</h1>
						<p>Send me an email to learn more about what I do.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- ./row -->
		</div><!-- /.container -->
	</section>
	<div class="container inner">
		<div class="row">
			<div class="col-md-8 inner-right-md">
				<% if notice %>
	        <div class="alert alert-dismissible alert-success">
	          <button type="button" class="close" data-dismiss="alert">×</button>
	          <h4 class="notice"><%= notice %><h4>
	        </div>
	        <% end %>
	        <% if alert %>
	        <div class="alert alert-dismissible alert-danger">
	          <button type="button" class="close" data-dismiss="alert">×</button>
	          <h4 class="notice"><%= alert %></h4>
	        </div>
	      <% end %>
			
				<section id="contacts" class="inner-top-md inner-bottom-sm">
					<div class="row">
						<div class="col-sm-6">
							<%= image_tag "contact-logo.png", class: "logo contact-logo" %>
							<ul class="contacts">
								<li><i class="icon-mobile contact"></i><a href="tel:17739153198">(773) 915-3198</a></li></li>
								<li><a href="mailto:ryan@ryanmcmahon.org"><i class="icon-mail-1 contact"></i>ryan@ryanmcmahon.org</a></li>
							</ul><!-- /.contacts -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</section>
			</div><!-- ./col -->
			<div class="col-md-4">
				<section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
					<h3 class="team-headline sidelines text-center"><span>Let’s Connect!</span></h3>
					<div class="row thumbs gap-md text-center">
						<div class="col-sm-12 thumb">
							<figure class="member">
								<div class="member-image">
									<div class="text-overlay center-text-overlay">
										<div class="info">
											<ul class="social">
												<li><a href="https://www.linkedin.com/in/ryan-mcmahon-7834991a"><i class="icon-s-linkedin"></i></a></li>
												<li><a href="https://github.com/rymcmahon"><i class="icon-s-github"></i></a></li>
												<li><a href="https://twitter.com/ryanmcmahon716"><i class="icon-s-twitter"></i></a></li>
											</ul><!-- /.social -->
										</div><!-- /.info -->
									</div><!-- /.text-overlay -->
									<%= image_tag "profile-picture-website.jpg", class: "profile-picture" %>
								</div><!-- /.member-image -->
							</figure>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</section>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</main>