<section id="hero" class="dark-bg img-bg-softer" style="background-image: url(<%= asset_path 'pattern-background02.png' %>);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 col-sm-9">
        <header>
          <h1>Services</h1>
          <p>Employee management systems, sales tracking software, marketing websites, and content management systems are just a few examples of tools I can build to help organizations. Below, check out some of the custom solutions I can create to enhance a business’s web presence and improve operations.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>
<section id="services">
  <div class="container inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabs tabs-services tabs-circle-top tab-container">
          <ul class="etabs text-center">
            <li class="tab"><a href="#tab-1"><div><i class="icon-palette"></i></div>Design</a></li>
            <li class="tab"><a href="#tab-2"><div><i class="icon-database"></i></div>Databases</a></li>
            <li class="tab"><a href="#tab-3"><div><i class="icon-newspaper"></i></div>CMS</a></li>
            <li class="tab"><a href="#tab-4"><div><i class="icon-chart-bar-1"></i></div>Dashboards</a></li>
            <li class="tab"><a href="#tab-5"><div><i class="icon-pencil-1"></i></div>Copywriting</a></li>
            <li class="tab"><a href="#tab-6"><div><i class="icon-table"></i></div>Marketing</a></li>
          </ul><!-- /.etabs -->
          <div class="panel-container">
            <div class="tab-content" id="tab-1">
              <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                  <figure><%= image_tag "responsive-design-silo.jpg" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                  <h3>Beautiful Design on All Devices</h3>
                  <p>I am passionate about Responsive Web Design, a technique that enables websites to adapt to any size screen so content is displayed properly on any device. Whether a user is looking at a restaurant menu or checking sales reports, RWD automatically optimizes content on a smartphone, tablet, or traditional computer.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-2">
              <div class="row">
                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                  <figure><%= image_tag "pgcommander-table.png" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                  <h3>Database-backed Apps</h3>
                  <p>Are you storing valuable data in a spreadsheet? I can transform that spreadsheet into a dynamic, easy-to-use web app that allows authorized personnel to view, update, and create entries from any device inside or outside the office.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-3">
              <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                  <figure><%= image_tag "cms.png" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                  <h3>Content Management Systems</h3>
                  <p>Whether it's a blog or an ecommerce website, I can create a content management system that allows admins to easily write blog posts, update text, and change images.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-4">
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                  <figure><%= image_tag "data-viz.png" %></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-sm-8 center-block text-center inner-top-xs">
                  <h3>Data Visualization</h3>
                  <p>If it isn’t measured it can’t be improved. I can build a dashboard with dynamic graphs and charts that update automatically whenever you close another sale or receive an applicaiton so your business can make data-driven decisions.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                  <figure><%= image_tag "copywriting-web.png" %></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-sm-8 center-block text-center inner-top-xs">
                  <h3>Content Strategy</h3>
                  <p>My process involves auditing a brand’s current content, comparing it to competitors’ websites, and developing a content strategy that focuses on what makes the brand unique.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-6">
              <div class="row">
                <div class="col-sm-8 center-block text-center">
                  <h3>Search Engine Optimization</h3>
                  <p>I use techniques recommended by Google and methonds I've developed myself to improve a website’s natural search results, resulting in more traffic, engagement, and sales.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
                  <figure><%= image_tag "marketing-seo.png", class: "seo-img" %></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
          </div><!-- /.panel-container -->
        </div><!-- /.tabs -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>