<%= render 'portfolio_nav' %>
  <main>
    <section id="portfolio-post">
      <div class="container inner-top-md">
        <div class="row">
          <div class="col-md-8">
            <div>
              <div class="item">
                <figure>
	                <%= image_tag 'crm-api-edit.png' %>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4 inner-left-sm">
            <header>
              <h2>CRM & API for Actualize Admissions Officers</h2>
              <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum.</p>
              <p class="text-small">Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Laceaque eictemperum quiae sitiorem rest non restibusaes dem tumquam.</p>
              <ul class="item-details inner-top-xs outer-top-xs border-top">
                <li class="date">2017</li>
                <li class="categories">Ruby on Rails, API, Algorithms</li>
                <li class="client">Creative Startup</li>
                <li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
              </ul>
            </header>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="dark-bg">
  	<div class="footer-bottom">
  		<div class="container inner">
  			<p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
  			<ul class="footer-menu pull-right">
          <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %>
          <li><%= link_to "Portfolio", pages_portfolio_path %></li>
          <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
          <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
          <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
  			</ul>
  		</div>
  	</div>
  </footer>