<main>
	<section id="hero">
		<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
			<div class="item" style="background-image: url(<%= asset_path 'work-desk.jpg' %>);">
				<div class="container">
					<div class="caption vertical-center text-center">
						<h1 class="fadeInDown-1 dark-bg light-color"><span>Websites Built for <br>Growth</span></h1>
						<div class="fadeInDown-3">
							<a href="#contact" class="btn btn-large scroll-to">Contact Me</a>
						</div><!-- /.fadeIn -->
					</div><!-- /.caption -->
				</div><!-- /.container -->
			</div><!-- /.item -->
			<div class="item" style="background-image: url(<%= asset_path 'whiteboard.jpg' %>);">
				<div class="container">
					<div class="caption vertical-top text-right">
						<h1 class="fadeInLeft-1 dark-bg light-color"><span>Software that <br>Enhances Efficiency</span></h1>
						<div class="fadeInLeft-3">
							<a href="#contact" class="btn btn-large scroll-to">Contact Me</a>
						</div><!-- /.fadeIn -->
					</div><!-- /.caption -->
				</div><!-- /.container -->
			</div><!-- /.item -->
			<div class="item" style="background-image: url(<%= asset_path 'responsive-desktop.jpg' %>);">
				<div class="container">
					<div class="caption vertical-center text-left">
						<h1 class="fadeInRight-1 dark-bg light-color"><span>Web Apps Optimized <br>for Any Device</span></h1>
						<div class="fadeInRight-3">
							<a href="#contact" class="btn btn-large scroll-to">Contact Me</a>
						</div><!-- /.fadeIn -->
					</div><!-- /.caption -->
				</div><!-- /.container -->
			</div><!-- /.item -->
		</div><!-- /.owl-carousel -->
	</section>
	<%= render 'who_we_are' %>
  <%= render 'services' %>
	<%= render 'contact' %>
</main>