<%= render 'portfolio_nav' %>
<main>
	<section id="portfolio">

		<div class="container inner">
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Portfolio of my Recent Work</h1>
						<p>I contributed to the design and development of both the front-end and backend of the apps below. I used Ruby on Rails, VueJS, HTML, CSS, and JavaScript.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->

		<div class="container inner-bottom">
			<div class="row">
				<div class="col-sm-12 portfolio">

					<ul class="filter text-center">
						<!-- <li><a href="#" data-filter="*" class="active">All</a></li>
						<li><a href="#" data-filter=".identity">Identity</a></li>
						<li><a href="#" data-filter=".interactive">Interactive</a></li>
						<li><a href="#" data-filter=".print">Print</a></li>
						<li><a href="#" data-filter=".photography">Photography</a></li> -->
					</ul><!-- /.filter -->

					<ul class="items col-3">

						<li class="item thumb interactive">
							<a href="/pages/ed_digital">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Education Digtial</h4>
											<p>HTML, CSS, JS</p>
										</div><!-- /.info -->
									</figcaption>
									<%= image_tag 'ed-hero.png'%>
								</figure>
							</a>
						</li><!-- /.item -->

						<li class="item thumb identity">
							<a href="/pages/actualize">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Grand Motel</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="assets/images/art/work02.jpg" alt="">
								</figure>
							</a>
						</li><!-- /.item -->

						<li class="item thumb identity">
							<a href="/pages/crm">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Actualize CRM/API</h4>
											<p>Ruby on Rails, HTML, CSS, JS</p>
										</div><!-- /.info -->
									</figcaption>
									<%= image_tag 'crm-api-index.png'%>
								</figure>
							</a>
						</li><!-- /.item -->

					</ul><!-- /.items -->

				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
</main>
<footer class="dark-bg">
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
			<ul class="footer-menu pull-right">
        <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %>
        <li><%= link_to "Portfolio", pages_portfolio_path %></li>
        <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
        <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
        <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>