<% title "Ryan McMahon’s Blog Posts about #{@category.name}" %>
<% meta_description "Ryan McMahon’s collection of web development blog posts that discuss #{@category.name}" %>
<%= render 'categories_nav' %>
<main>
	<section id="blog-post" class="light-bg">
		<div class="container inner-top-sm inner-bottom classic-blog">
			<% flash.each do |key, value| %>
			<div class="alert alert-dismissible alert-<%= key %>"><h4>
				<button type="button" class="close" data-dismiss="alert">X</button>
				<h4><%= value %></h4>
			</div>
			<% end %>
			<div class="row">
				<div class="col-md-9 inner-right-sm">
					<div class="sidemeta">
						<% @category.articles.each do |article| %>
						<div class="post format-gallery">
							<div class="date-wrapper">
								<div class="date">
									<span class="day"><%= article.created_at.strftime("%e") %></span>
									<span class="month"><%= article.created_at.strftime("%b") %></span>
								</div><!-- /.date -->
							</div><!-- /.date-wrapper -->
							<div class="post-content">
								<h1 class="post-title"><%= markdown(article.title) %></h1>
								<p><%= markdown(article.text) %></p>
							</div><!-- /.post-content -->
						</div><!-- /.post -->
						<% end %>
					</div><!-- /.sidemeta -->
				</div><!-- /.col -->
				<aside class="col-md-3">
					<div class="sidebox widget">
						<h4>Categories</h4>
						<% @categories.each do |category| %>
							<%= link_to category_path(:id => category.id) do %>
							<ul class="circled">
								<% if @categories.find_by_name(category.name).articles.count > 0 %>
									<li><%= category.name.titleize %></a></li>
								<% end %>
							</ul><!-- /.circled -->
							<% end %>
						<% end %>
						  <%= link_to "Back to Homepage", {:controller => :pages, :action=> :home, :anchor => "top"}, class: "txt-btn" %>
					</div><!-- /.widget -->
				</aside>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
</main>
<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© <%= Time.now.strftime("%Y") %> McMahon Web Development. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><%= link_to "About", :controller => :pages, :action=> :home, :anchor => "about" %></li>
        <li><%= link_to "Services", :controller => :pages, :action=> :home, :anchor => "services" %></li>
        <li><%= link_to "Contact", :controller => :pages, :action=> :home, :anchor => "contact" %></li>
        <li><%= link_to "Blog", :controller => :articles, :action=> :index %></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>