<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1 id="header-brand">Ryan's CRUD Life</h1>
    </header>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Blog", articles_path %></li>
          <li><%= link_to "Projects", page_path("projects")%></li>
          <li><%= link_to "Résumé", page_path("resume")%></li>
          <% if logged_in? %>
          <li>  <%= link_to "Log out", logout_path, method: "delete" %> </li>
          <% else %>
          <li>  <%= link_to "Log in", login_path %> </li>
          <% end %>
          <% if logged_in? && current_user.admin? %>
          <li> <%= link_to "Settings", edit_user_path(current_user) %> </li>
          <li> <%= link_to 'New Article', new_article_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  <% flash.each do |message_type, message| %>
  	<div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>

