<!DOCTYPE html>
<html>
<head>
  <title> <% if yield(:title).present? %>
            <%= yield(:title) %>
          <% else %>
            Ryan McMahon | Software Development | Ruby on Rails
          <% end %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
  <% if yield(:meta_description).present? %>
    <meta name="description" content="<%= yield(:meta_description) %>" />
  <% else %>
    <meta name="description" content="Ryan McMahon's blog about Software Engineering, Web Development, and Ruby on Rails" />
  <% end %>
  <%= favicon_link_tag 'blog-favicon.ico' %>
  <%= favicon_link_tag 'blog-favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body id="top">
  <header>
  <div class="navbar">
    <div class="navbar-header">
      <div class="container">
        <ul class="info pull-left">
          <li><a href="mailto:rymcmahon716@gmail.com"><i class="icon-mail-1 contact"></i>rymcmahon716@gmail.com</a></li>
          <li><i class="icon-mobile contact"></i><a href="tel:17739153198" style='display:inline;'>(773) 915-3198</a></li>
        </ul><!-- /.info -->
        <ul class="social pull-right">
          <li><a href="https://www.facebook.com/ryan.mcmahon.5268"><i class="icon-s-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ryan-mcmahon-7834991a"><i class="icon-s-linkedin"></i></a></li>
          <li><a href="https://twitter.com/ryanmcmahon716"><i class="icon-s-twitter"></i></a></li>
          <li><a href="https://github.com/rymcmahon"><i class="icon-s-github"></i></a></li>
        </ul><!-- /.social -->
        <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" class="logo" alt=""></a>
        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
      </div><!-- /.container -->
    </div><!-- /.navbar-header -->
    <div class="yamm">
      <div class="navbar-collapse collapse">
        <div class="container">
          <a class="navbar-brand scroll-to" href="#top"><img src="assets/images/logo.svg" class="logo" alt=""></a>
          <ul class="nav navbar-nav pull-right">
            <li><a href="#about" class="scroll-to" data-anchor-offset="0">About</a></li>
            <li><a href="#services" class="scroll-to" data-anchor-offset="0">Services</a></li>
            <li><a href="#portfolio" class="scroll-to" data-anchor-offset="0">Portfolio</a></li>
            <li><a href="#" class="scroll-to" data-anchor-offset="0">Blog</a></li>
          </ul><!-- /.nav -->
        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
  </div><!-- /.navbar -->
</header>
<%= yield %>
<footer class="dark-bg">
	<div class="container inner">
		<div class="row">
			<div class="col-md-3 col-sm-6 inner">
				<h4>Who we are</h4>
				<a href="#top" class="scroll-to"><img class="logo img-intext" src="assets/images/logo-white.svg" alt=""></a>
				<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				<a href="#who-we-are" class="txt-btn scroll-to">More about us</a>
			</div><!-- /.col -->
			<div class="col-md-3 col-sm-6 inner">
				<h4>Latest works</h4>
				<div class="row thumbs gap-xs">
					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="#modal-work01" data-toggle="modal"><img src="assets/images/art/work02.jpg" alt=""></a>
						</figure>
					</div><!-- /.thumb -->
					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="#modal-work01" data-toggle="modal"><img src="assets/images/art/work03.jpg" alt=""></a>
						</figure>
					</div><!-- /.thumb -->
					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="#modal-work01" data-toggle="modal"><img src="assets/images/art/work07.jpg" alt=""></a>
						</figure>
					</div><!-- /.thumb -->
					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="#modal-work01" data-toggle="modal"><img src="assets/images/art/work01.jpg" alt=""></a>
						</figure>
					</div><!-- /.thumb -->
				</div><!-- /.row -->
			</div><!-- /.col -->
			<div class="col-md-3 col-sm-6 inner">
				<h4>Get In Touch</h4>
				<p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
				<ul class="contacts">
					<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
					<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
					<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
				</ul><!-- /.contacts -->
			</div><!-- /.col -->
			<div class="col-md-3 col-sm-6 inner">
				<h4>Free updates</h4>
				<p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
				<form id="newsletter" class="form-inline newsletter" role="form">
					<label class="sr-only" for="exampleInputEmail">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
					<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
				</form>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- .container -->
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© 2015 REEN. All rights reserved.</p>
			<ul class="footer-menu pull-right">
				<li><a href="#who-we-are" class="scroll-to">Who we are</a></li>
				<li><a href="#latest-works" class="scroll-to">Latest works</a></li>
				<li><a href="#get-in-touch" class="scroll-to">Get in touch</a></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>
</body>
</html>

