<!DOCTYPE html>
<html>
<head>
  <title> <% if yield(:title).present? %>
            <%= yield(:title) %>
          <% else %>
            Ryan McMahon | Software Development | Ruby on Rails
          <% end %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if yield(:meta_description).present? %>
    <meta name="description" content="<%= yield(:meta_description) %>" />
  <% else %>
    <meta name="description" content="Ryan McMahon's blog about Software Engineering, Web Development, and Ruby on Rails" />
  <% end %>
  <%= favicon_link_tag 'blog-favicon.ico' %>
</head>
<body>
  <div class="container">
    <header>
      <h1 id="header-brand">Ryan’s <%= image_tag 'crud-life-225.png' %> </h1>
    </header>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Blog", articles_path %></li>
          <li><%= link_to "Projects", page_path("projects")%></li>
          <li><%= link_to "Résumé", page_path("resume")%></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="container">
      <div class="row">
        <div class="col-md-6 footer-center"><%= fa_icon "copyright", class: "fa-1x" %><h4 class="inline-header"> <%= Time.now.strftime("%Y") %> Ryan McMahon </h4></div>
        <div class="col-md-6"> 
          <ul class="nav nav-pills">
            <% if logged_in? %>
              <li role="presentation"><%= link_to "Log out", logout_path, method: "delete" %> </li>
            <% else %>
              <li role="presentation"><%= link_to login_path do %> 
                <i class="fa fa-key"></i>
              <% end %>
              </li>
            <% end %>
            <% if logged_in? && current_user.admin? %>
              <li role="presentation"><%= link_to "Settings", edit_user_path(current_user) %> </li>
              <li role="presentation"><%= link_to 'New Article', new_article_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>

